body { background: #806736; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 56px; display: flex; }
.block-filter-0 { color: #a664fa; font-size: 13px; margin-bottom: 5px; }
.block-sms-1 { color: #ac0716; font-size: 15px; margin-bottom: 5px; }
.block-cart-2 { color: #de08ee; font-size: 15px; margin-bottom: 5px; }
.block-metrics-3 { color: #8b4a72; font-size: 13px; margin-bottom: 5px; }
.block-user-4 { color: #3eeed7; font-size: 14px; margin-bottom: 5px; }
.block-helper-5 { color: #94e9b5; font-size: 21px; margin-bottom: 5px; }